*{
 /*   border: solid black 1px;*/
}
html {
    height: 100%;
  }
body{
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
overflow-y:hidden;
}
/*------------PARTE SUPERIOR-------------*/
header{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    height: 100px;
    background-color: #161b21;
   
}



.iconos_login_dwJson{
margin-right: 50px;
}
/*-----RESPONSIVE HEADER---------*/
@media screen and (max-width: 800px) {
    .buscador {
     margin-right: 50px;
    }
}
/*----------------SECTION------------------*/
section{
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
   
    display: flex;
    flex-flow: column;
}
.top{
width: 100%;
height: 300px;
background-color: #ECEDEF;
}
.categorias{
    width: 100%;
height:90vh;
    margin: 0px;
    padding: 0px;

    background-color: #212529;
}